/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

#canvasLogoIMG {
  position: fixed;
  left: 10px;
  top: 5px;
  height: 50px;
}

#logo {
  left: 80px;
  top: -5px;
  color: #191919;
  position: fixed;
}

#connectControls {
  position: fixed;
  left: 300px;
  top: 0px;
}

#teacherConnect {

}

#studentConnect {

}

.toolboxArea {
  z-index: 1001;
}

.canvasArea {
  background-color: gray;
  padding: 5px;
  position: absolute;
  top: 60px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin-left: 0px;
  overflow: auto;
}

.codeArea {
  background-color: #191919;
  right: 0px;
  position: fixed;
  top: 60px;
  width: 400px;
  height: 100%;
  font-size: 12px;
  font-weight: bold;
  color: #4dff4d;
  padding: 5px;
}

.toolboxBlock {
  background-color: #404040;
  float: left;
  padding: 0;
  padding-top: 10px;
  width: 125px;
  height: 50px;
  color: white;
  text-align: center;
  border: 1px solid white;
}

#toolboxBlockTag {
  top: 50%;
  font-weight: bold;
  font-size: 20px;
}

.canvasRow {
  height: 45px;
  width: 100%;
  float: left;
}

.canvasBlock {
  background-color: #ffd777;
  float: left;
  margin: 2.5px;
  padding: 0;
  width: 130px;
  height: 35px;
  color: black;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 5px;
  border: 2px solid;
  border-color: #404040;
}

#canvasBlockTag {
  float: left;
  color: white;
  background-color: #404040;
  width: 20px;
  height: 100%;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  outline: 0;
  margin-right: 5px;
  padding-top: 6px;
}

#canvasBlockName {
  border-radius: 5px;
  border-color: #404040;
  padding-top: 8px;
  text-align: left;
  width: 100%;
  font-size: 11px;
  font-weight: bold;
  color: black;
}

#dropDownMenu {
  padding: 5px;
  text-align: left;
  font-size: 11px;
  font-weight: bold;
  color: white;
  background-color: #404040;
  position: absolute;
  width: 150px;
  margin-top: 10px;
}

#blockOption {
  background-color: #404040;
}

.toggle {
  float: left;
  margin: 5px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
}

#canvasControls {
  position: fixed;
  bottom: 0px;
  left: 125px;
  width: 100%;
  height: 40px;
  background-color: #404040;
}

#blockOptionMore {
  padding: 0px;
  background-color: #404040;
  color: gray;
  position: absolute;
  margin-top: -20px;
  margin-left: 145px;
}

#modifyBlockBTN {
  border-radius: 2px;
  border: 2px solid white;
  background-color: #404040;
  width: 100%;
  color: white;
}

#arrayContent {
  height: 250px;
  width: 135px;
  background-color: white;
  overflow: auto;
}

#blockInArray {
  float: left;
}

#objectContent {
  height: 250px;
  width: 250px;
  background-color: white;
  overflow: auto;
}

#objectContentItem {
  color: #404040;
  border-bottom: 1px solid #404040;
  font-size: 11px;
  background-color: #FFD777;
  padding: 5px;
}

#loopContent {
  height: 500px;
  width: 500px;
  padding: 5px;
  background-color: white;
}

#functionContents {
  height: 500px;
  width: 500px;
  padding: 5px;
  background-color: white;
}

#functionArguments {
  height: 500px;
  width: 150px;
  padding: 5px;
  background-color: #404040;
}

#trashbinIMG {
  height: 100%;
  width: 100%;
}

#messages {
  overflow: auto;
/*  text-align: left;*/
  margin: 0; 
  padding: 5px;
/* float: left;*/
}

/*#messagetxt {
  float: left;
  text-align: left;
}*/

#chatbox {
    font-family:tahoma;
    font-size:12px;
    color:black;
    border: 1px teal solid;
    height: 225px;
    width: 100%;
    overflow: scroll;
    float:left;
}

#chatboxForm input {
  height: 100%;
  width: 100%;
  padding: 5px;

}

#container {
  width: 100%;
  height: 100%;
}

#landingPageContainer {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: #ffd777;
}

#lightIMG {
  height: 250px;
}
