/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.codeBlock {
    font-family: "Verdana";
    font-weight: bold;
    width: 150px;
    height: 75px;
    font-size: 15px;
    background-color: #e5f2ff;
    border-style: solid;
    border-width: 5px;
    padding: 5px 5px 5px 5px;
    text-align: center;
    float: left;
}

.dropArea {
    top: 100px;
    width: 100%;
    height: 200px;
    background-color: #e6e6e6;
}

#keyword {
    position: relative;
    top: 25%;
}

.code {
    background: black;
    width: 100%;
    height: 300px;
    color: #99ff99;
    font-weight: bold;
    font-family: "Courier New";
    font-size: 20px;
}

.tempContainer {
    position: absolute;
    top: 200px;
    width: 100%;
    height: 100%;
}

.codeBlockForm {
  display: hidden;
}
