<div>
  Login
  <form>
    Username:<input type="text" ng-model='loginUser.username'></input></br>
    Password:<input type="password" ng-model='loginUser.password'></input>
     <button ng-click="signin()">signin</button>
  </form>


Signup
    <form>
    Username:<input type="text" ng-model='signUpUser.username'></input></br>
    Password:<input type="password" ng-model='signUpUser.password'></input></br>
    First Name<input type="text" ng-model='signUpUser.firstname'></input></br>
    Second Name<input type="text" ng-model='signUpUser.secondname'></input></br>
    Email <input type="text" ng-model='signUpUser.email'></input>
     <button ng-click="signup()">signup</button>
  </form>
</div>