<h1>Sign up <small>Sign up for a Grasp account</small></h1>

<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Username" ng-model="signUpUser.username">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="signUpUser.password">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email</label>
    <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Email" ng-model="signUpUser.email">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">First name</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="First name" ng-model="signUpUser.firstname">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Second name</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="First name" ng-model="signUpUser.secondname">
  </div>
  <button type="submit" class="btn btn-default" ng-click="signup()">Sign up</button>
</form>
</br>
<a href="#/signip"><button type="submit" class="btn btn-default">Already got an account? Signin!</button></a>