<div id="login-page">
  <div class="container">
      <form class="form-login">
        <h2 class="form-login-heading">sign in now</h2>
        <div class="login-wrap">
            <input type="text" class="form-control" placeholder="Username" ng-model="loginUser.username" autofocus>
            <br>
            <input type="password" class="form-control" placeholder="Password" ng-model="loginUser.password">
            <br>
            <button class="btn btn-theme btn-block" type="submit" ng-click="signin()"><i class="fa fa-lock"></i> SIGN IN</button>
            <hr>
            <div class="registration">
                Don't have an account yet?<br/>
                <a class="" href="#/signup">
                    Create an account!
                </a>
            </div>

        </div>
      </form>     
  </div>
</div>
