<section id="container" >
  <!--POPUP CHAT-->
  <div ng-controller="ChatCTRL">
    <ng-pop-up option="ngPopupOption"></ng-pop-up>
  </div>
  <header ng-controller="HeaderCTRL" class="header black-bg">
    <!--logo start-->
    <a href="#/canvas" id="logo"><b>GRASP</b></a>
    <!--logo end-->
    <!--navbar--> 
  <div class="nav notify-row" id="top_menu">
    <!--  notification start -->
    <ul class="nav top-menu">
      <!-- settings start -->
      <li class="dropdown" uib-dropdown>
        <a ng-if="isTeacher" class="dropdown-toggle" ng-click="leave()">
          <i class="fa fa-tasks"></i><div>DISCONNECT AS TEACHER</div>
        </a>
        <a ng-if="!isTeacher && !isStudent" uib-dropdown-toggle class="dropdown-toggle" href="#">
          <i class="fa fa-tasks"></i><div>CONNECT AS TEACHER</div>
          <span class="badge bg-theme">{{numberOfTeachers}}</span>
        </a>
          <ul class="dropdown-menu extended tasks-bar">
            <div class="notify-arrow notify-arrow-green"></div>
              <li>
                <p class="green">Teach</p>
              </li>
              <li>
                <a href="index.html#">
                  <div class="task-info">
                    <div class="desc">Waiting Students</div>
                    <div class="percent">{{numberOfStudents}}</div>
                  </div>
                  <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                      <span class="sr-only">40% Complete (success)</span>
                    </div>
                  </div>
                </a>
              </li>
            <li class="external">
              <a ng-if="!isTeacher && !isStudent" ng-click="teacher()">I want to teach!</a>
            </li>
          </ul>
      </li>
      <!-- settings end -->
      <li class="dropdown" uib-dropdown>
      <a ng-if="isStudent" class="dropdown-toggle" ng-click="leave()">
        <i class="fa fa-tasks"></i><div>DISCONNECT AS STUDENT</div>
      </a>
        <a ng-if="!isTeacher && !isStudent" uib-dropdown-toggle class="dropdown-toggle" href="#">
          <i class="fa fa-tasks"></i><div>CONNECT AS STUDENT</div>
          <span class="badge bg-theme">{{numberOfStudents}}</span>
        </a>
          <ul class="dropdown-menu extended tasks-bar">
            <div class="notify-arrow notify-arrow-green"></div>
              <li>
                <p class="green">Learn</p>
              </li>
              <li>
                <a href="index.html#">
                  <div class="task-info">
                    <div class="desc">Available Teachers</div>
                    <div class="percent">{{numberOfTeachers}}</div>
                  </div>
                  <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                      <span class="sr-only">40% Complete (success)</span>
                    </div>
                  </div>
                </a>
              </li>
            <li class="external">
              <a ng-if="!isStudent && !isTeacher" ng-click="student()">I want to learn!</a>
            </li>
          </ul>
      </li>
      <!-- inbox dropdown end -->
    </ul>
        <!--  notification end -->
  </div>
  <div class="top-menu">
    <ul class="nav pull-right top-menu">
      <li><a ng-controller="AuthCTRL" id="logout" ng-click="signout()">Logout</a></li>
    </ul>
  </div>
</header>
<!-- HEADER end -->


  <!-- TOOLBOX start -->
  <div>
      <div id="sidebar"  class="toolboxArea">
          <p class="centered">
          <img src="css/hand-flight.jpg" class="img-circle" width="80">
          </p>
          <!-- TOOLBOX start-->
          <div ng-repeat="codeBlock in codeBlocks">

              <!-- CODEBLOCK start -->
              <div id="{{codeBlock.generateUniqueID()}}" class="toolboxBlock" ng-drop="true" ng-drag="true" ng-drag-move="blockIsMoving($event, $data)" ng-drag-success="blockIsDoneMoving($event, $data)" ng-drag-data="codeBlock">

                <div>{{codeBlock.type}}</div>
               
              </div>
              <!-- CODEBLOCK end -->
          </div>
          <!-- TOOLBOX menu end-->
      </div>
  </div>
  <!--TOOLBOX end-->

  <!-- CANVAS start -->
  <div class="canvasArea" id="main-content">

    <!-- ng-repeat container of CANVAS -->
    <div ng-repeat="row in blockMatrix">

      <!-- a row -->
      <div class="canvasRow" ng-drop="isCanvasDroppable" ng-drop-success="onCanvasDrop($data, row)">

        <!-- ng-repeat container of row -->
        <div ng-repeat="canvasBlock in row track by $index">

          <!-- a code block -->
          <div class="canvasBlock" ng-drop="true" ng-drag="canvasBlock.options.isDraggable">
            <div id="canvasBlockTag" ng-click="showDropDownMenu = showDropDownMenu ? false : true">{{canvasBlock.tag}}</div>
            <div id="canvasBlockName">{{canvasBlock.name}}</div>
            
            <!-- drop down menu of code block start -->
            <div id="dropDownMenu" ng-if="showDropDownMenu">

              <!-- Info Option -->
              <div id="blockOption" ng-click="showInfo = showInfo ? false : true">
                Info
                <div id="blockOptionMore" ng-if="showInfo">
                  Name: {{canvasBlock.name}} <br>
                  Value: {{canvasBlock.content}} <br>
                  Type: {{canvasBlock.type}}
                </div>
              </div>


              <!-- Modify Option -->
              <div id="blockOption">Modify</div>

              <!-- Delete Option -->
              <div id="blockOption">Delete</div>
             
            </div>
            <!-- drop down menu of code block end -->

          </div>
          
        </div>

      </div>

    </div>

  </div>
  <!--CANVAS END-->

  <!-- CODE AREA start -->
  <div class="codeArea">
    <pre style="background: black; border: 0px;">{{code}}</pre>
  </div>
  <!-- CODE AREA end -->

</section>
